//Tools
// ======================
@import "tools/functions";
@import "tools/animations";
@import "tools/mixins";
@import "tools/reset";
@import "tools/typography";
// Variables
//===================
:root {
    --background: #fff;
    --space: 8px;
}
body {
    background:var(--background);
    font-size: 16px;
}

// Modules
//======================
@import "modules/nav";


